@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaEn';
  src: url('/fonts/Helvetica-Neue.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaKa';
  src: url('/fonts/Helvetica-Neue-Geo.ttf') format('truetype');
  font-style: normal;
}

@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ced4da inset;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: transparent;
    -webkit-text-fill-color: black;
  }

  .movies-input:-webkit-autofill,
  .movies-input:-webkit-autofill:hover,
  .movies-input:-webkit-autofill:focus,
  select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(17, 16, 26, 1) inset;
    transition: background-color 5000s;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
  }

  .search-movies-input:-webkit-autofill,
  .search-movies-input:-webkit-autofill:hover,
  .search-movies-input:-webkit-autofill:focus,
  select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #181623 inset;
    transition: background-color 5000s;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
  }

  :root input {
    filter: unset;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 3.5rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #808189;
    border-radius: 100vh;
    border: 3px solid #808189;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1) !important;
    position: relative !important;
    left: 2rem !important;
  }

  input[type='file']::file-selector-button {
    display: none !important;
  }
  input[type='file'] {
    color: transparent !important;
  }

  .toast-background {
    background: #d1e7dd !important;
    width: 25rem !important;
    left: -20rem !important;
    top: 4rem !important;
    border-radius: 0 !important;
  }
  .progress-color {
    background: #118919 !important;
  }

  @media (max-width: 640px) {
    .toast-background {
      top: 6rem !important;
      left: 0 !important;
      width: 23rem !important;
      right: 0 !important;
      margin: auto !important;
      border-radius: 8px !important;
      margin-top: 1rem !important;
    }
  }
  @media (max-width: 380px) {
    .toast-background {
      width: 20rem !important;
    }
  }

  .search-animation {
    animation: searchAnimation 500ms linear;
  }

  @keyframes searchAnimation {
    from {
      opacity: 0;
      width: 1rem;
      position: absolute;
    }

    to {
      width: 43rem;
      opacity: 1;
    }
  }
}
